.contact-container {
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  display: grid;
  place-content: center;
}
.contact-contain {
  border-radius: 8px;
  background-color: white;
  width: 320px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-contain form {
  display: flex;
  padding: 2rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contact-contain label {
  margin-top: 1rem;
}
.contact-contain input {
  width: 100%;
}
.form-buttons {
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}
.visible {
}
