.cover-container {
}

.cover-contain {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  font-family: "lato";
  font-weight: 700;
  position: relative;
  width: 100%;
  height: 200px;
}
.cover-contain h1 span {
  color: #667fea;
}
.cover-picture__img img {
  height: 200px;
  border-radius: 50%;
}
.cover-picture,
.cover-text {
  grid-row: 1/2;
  grid-column: 2/3;
}
.cover-picture {
  border-radius: 50%;
  width: 50%;
  height: 100%;
  position: absolute;
  right: -100px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cover-picture__img {
  background-color: #667fea;
  border-radius: 50%;
  width: 45%;
  z-index: 1;
}
.cover-picture__img2 {
  height: 100%;
  background-color: #e1e7ef;
  border-radius: 50%;
  width: 45%;
  position: absolute;
  margin-top: 8px;
}
.cover-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.cover-text h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 0;
}
.cover-text p {
  margin-top: 0;
  color: #728197;
}
.buttons {
  margin-top: 16px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myButton {
  width: 48%;
  height: 36px;
  background-color: #667fea;
  border-radius: 28px;
  border: 1px solid #669fea;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
}
.secondary {
  background-color: #fff;
  color: #667fea;
  border-color: #667fea;
}
@media (max-width: 480px) {
  .cover-container {
    grid-template-columns: 1fr;
  }
  .cover-contain {
    margin: auto;
    display: block;
    width: 90%;
    height: 200px;
  }
  .cover-picture {
    display: none;
  }
  .cover-text {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .cover-text h1,
  .cover-text p {
    text-align: center;
  }
  .cover-text h1 {
    font-size: 2rem;
  }
}
